#for postgrese DATABASE_URL="postgresql://user:password@localhost:5432/college_fee_db"
DATABASE_URL="file:./dev.db"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key"
ADMIN_EMAIL="admin@college.edu"
ADMIN_PASSWORD="Admin@123"